@import url("base/fonts.css");

html {
	height: 100%;
}

body {
	font-family: "Mi Lanting", arial;
	font-size: 4.9vw;
	color: #ffffff;
	height: 100%;
	margin: 0;
	box-sizing: border-box;
}

.widget {
	height: 100%;
	width: 100%;
	background-color: #ffffff;
	border: 0;
	position: relative;
}


/*main screen*/

.main-screen {
	height: 100%;
}

.menu-wrapper__menu {
	display: flex;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    color: #ffffff;
    font-size: 8.2vw;
    cursor: pointer;
    height: 33.3%;
    text-align: center;
}

.menu-wrapper__menu-codes {
	background-color: #242424;
}

.menu-wrapper__menu-temp {
	background-color: #4d4d4d;
}

.menu-wrapper__menu-fuel {
	background-color: #242424;
}

/*converter*/

.widget__converter {
	height: 100%;
	background-color: #000000;
}

.converter__top-wrapper {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	height: 50%;
}

.top-wrapper__results-wrapper {
	width: 100%;
	text-align: right;
}


.switch-wrapper__input-units,
.switch-wrapper__output-units {
	font-size: 4.5vw;
	font-weight: bold;
}

.results-wrapper__input-field {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;
	padding-bottom: 2.7vw;
	position: relative;
	padding-right: 8.2vw;
}

.results-wrapper__output-field {
	padding-right: 8.2vw;
}

.input-field__input-data {
	-webkit-appearance: none;
    width: 100%;
    border: 0;
    outline: none;
    text-align: right;
    font-family: "Mi Lanting", arial;
    background-color: #000000;
	color: #ffffff;
}

.input-field__input-data::-webkit-input-placeholder {
	background-color: #000000;
	color: #ffffff;
}

.data {
	font-size: 11vw;
	box-sizing: border-box;
}

.descr {
	font-size: 3.8vw;
	box-sizing: border-box;
}

.converter__grid-wrapper {
	height: 50%;
}

.grid__table {
	border-collapse: collapse;
	width: 100%;
	min-height: 100%;
	border-left-style: hidden;
    border-bottom-style: hidden;
    border-right-style: hidden;
    padding: 0;
}

.grid__cell {
	width: 25%;
	height: 25%;
	border: 1px solid #ffffff;
	vertical-align: middle;
	text-align: center;
	font-size: 7.7vw;
	padding: 0;
}

.grid__cell-back {
	background-image: url('../img/backspace-white.png');
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: 8.2vw;
}